* {
  color: #1d1914;
}
body {
  background-color: #1d1914;
  font-family: "Poppins";
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  background-color: #f5b155;
  list-style: none;
  width: 500px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
nav button {
  background-color: #f5b155;
  border: none;
  font-weight: bold;
  font-size: 30px;
  margin: 36px;
}
nav button:hover {
  color: white;
}
.home img {
  margin-left: 60px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.home p {
  font-size: 20px;
  text-align: center;
}
.home button {
  background-color: #f5b155;
  border: none;
  font-size: 19.5px;
  width: 214px;
  height: 36px;
  border-radius: 15px;
  font-weight: bold;
}
.home button:hover {
  color: white;
}
.home,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  color: #1d1914;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
.footer {
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}

.home {
}
.contact {
}
.contact {
  height: 100vh;
  margin-top: 400px;
}
.contact form input {
  background-color: #f5b155;
  padding: 20px 50px;
  font-size: 16px;
  margin-bottom: 25px;
  border-radius: 15px;
  padding-left: 8px;
  border: none;
}
label {
  color: #fff;
  border: none;
}
select {
  background-color: #f5b155;
  margin-bottom: 25px;
  padding: 20px 50px;
  padding-left: 5px;
  border-radius: 15px;
  font-size: 16px;
}
.contact {
  display: none;
}
.contact form {
  display: flex;
  flex-direction: column;
  flex: 1;
}
::placeholder {
  color: #1b1b1b;
}
.contact button {
  margin-top: 15px;
  border-radius: 15px;
  border: none;
  padding: 5px 0px;
  width: 200px;
  align-self: center;
  background-color: #f5b155;
  font-size: 21px;
}
.message {
  height: 100px;
  padding-bottom: 100px;
  align-items: flex-start;
}
.message input {
  text-align: start;
}
